assignment4/exercise1/node_modules/
assignment4/exercise2/node_modules/
assignment4/node_modules/
assignment5/exercise/node_modules/
assignment6/exercise/node_modules/
assignment7/exercise2/node_modules/
assignment8/exercise2/node_modules/
angularAssignments/node_modules/